body {
  background-color: rgb(100, 100, 224);
  color: white;
  text-align: center;
}

.game_title {
  font-size: 50px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.dice_1,
.dice_2 {
  background-color: rgb(136, 0, 0);
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  flex-direction: column;
  padding: 5px 5px;
}

.player_1>p,
.player_2>p {
  font-size: 40px;
}

.dot1,.dot2{
  background-color: rgb(136, 0, 0);
  width: 30px;
  height: 30px;
  border-radius: 20px;
}